<!DOCTYPE html>
<html>
<head>
	<include href="block/head.html" />
	<style type="text/css">
	textarea {
		font-family: 'Source Code Pro', monospace;
		height: 240px !important;
		resize: none;
	}
	</style>
</head>
<body>
	<include href="block/nav.html" />
	<div class="container">

		<h2>Generate Key</h2>
		<form class="form-inline">
			<div class="form-group">
				<label for="numBits">Key Size</label>
				<input class="form-control input-sm" name="numBits" id="numBits" style="width: 90px;" value="1024" type="number" step="512" min="512" max="2048" required>
			</div>
			<div class="form-group">
				<label for="userId">Identity</label>
				<input class="form-control input-sm" name="userId" id="userId" value="Test &lt;test@example.org&gt;" required>
			</div>
			<div class="form-group">
				<label for="passphrase">Passphrase</label>
				<input class="form-control input-sm" name="passphrase" id="passphrase" value="letmein" required>
			</div>
			<button class="btn btn-primary btn-sm" type="submit">Generate</button>
		</form>

		<br>

		<div class="row">
			<div class="col-sm-6">
				<textarea class="form-control input-sm" id="key-public"></textarea>
			</div>
			<div class="col-sm-6">
				<textarea class="form-control input-sm" id="key-private"></textarea>
			</div>
		</div>

		<h2>Encrypt/Decrypt Messages</h2>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<textarea class="form-control input-sm" id="msg-in" placholder="Input"></textarea>
				</div>
				<button class="btn btn-default btn-sm" type="button" id="btn-encrypt">Encrypt</button>
				<button class="btn btn-default btn-sm" type="button" id="btn-decrypt">Decrypt</button>
				&ensp;These actions will use the keys above the message.
			</div>
			<div class="col-sm-6">
				<textarea class="form-control input-sm" id="msg-out" placeholder="Output" readonly></textarea>
			</div>
		</div>

	</div>
	<include href="block/scripts.html" />
	<script>
	$(document).ready(function() {

		// Generate key
		$('.form-inline').submit(function(e) {
			$('#key-public, #key-private').val("Generating key...");
			var options = {
				numBits: parseInt($('#numBits').val()),
				userId: $('#userId').val(),
				passphrase: $('#passphrase').val(),
			};
			openpgp.key.generate(options).then(function(data) {
				$('#key-public').val(data.toPublic().armor());
				$('#key-private').val(data.armor());
			}).catch(function(err) {
				$('#key-public,#key-private').val(err);
			});
			e.preventDefault();
		});

		// Encrypt message
		$('#btn-encrypt').click(function(e) {
			$('#msg-out').val("Encrypting...");
			var msg = $('#msg-in').val();
			var publicKey = openpgp.key.readArmored($('#key-public').val());
			openpgp.encryptMessage(publicKey.keys, msg).then(function(data) {
				$('#msg-out').val(data);
			}).catch(function(err) {
				$('#msg-out').val(err);
			});
		});

		// Decrypt message
		$('#btn-decrypt').click(function(e) {
			$('#msg-out').val("Decrypting...");
			var msg = openpgp.message.readArmored($('#msg-in').val());
			var privateKey = openpgp.key.readArmored($('#key-private').val()).keys[0];
			privateKey.decrypt(prompt('Enter passphrase for key:'));
			openpgp.decryptMessage(privateKey, msg).then(function(data) {
				$('#msg-out').val(data);
			}).catch(function(err) {
				$('#msg-out').val(err);
			});
		});

	});
	</script>
</body>
</html>
