<!DOCTYPE html>
<html>
<head>
	<include href="block/head.html" />
</head>
<body>
	<include href="block/nav.html" />

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="well clearfix">
					<h1>Create Account</h1>
					<form method="post" action="{{ @HOME }}join" role="form">
						<input name="timezone" id="timezone" value="" type="hidden">
						<div class="row">
							<div class="form-group col-sm-6">
								<label class="sr-only" for="signup_first_name">First Name</label>
								<input class="form-control" name="first_name" id="signup_first_name" placeholder="First Name" required>
							</div>
							<div class="form-group col-sm-6">
								<label class="sr-only" for="signup_last_name">Last Name</label>
								<input class="form-control" name="last_name" id="signup_last_name" placeholder="Last Name" required>
							</div>
						</div>
						<div class="form-group">
							<label class="sr-only" for="signup_email">Username</label>
							<input class="form-control" name="email" id="signup_username" placeholder="Username" required>
							<span class="help-block">Your username will not be encrypted. If you want to remain anonymous, choose a name carefully.</span>
						</div>
						<div class="form-group">
							<label class="sr-only" for="signup_password">Passphrase</label>
							<input class="form-control" name="password" id="signup_password" placeholder="Passphrase" required type="password">
						</div>
						<div class="form-group">
							<label class="sr-only" for="bdate">Birth Date</label>
							<input class="form-control" name="bdate" id="bdate" placeholder="Birth Date" required data-provide="datepicker" data-date-format="yyyy-mm-dd">
						</div>
						<button type="submit" class="btn btn-primary">Create Account</button>
						&ensp;Clicking will generate a secure key for your account, your browser may lag.
					</form>
				</div>
			</div>
		</div>
	</div>

	<include href="block/scripts.html" />
</body>
</html>
