<!DOCTYPE html>
<html>
<head>
	<include href="block/head.html" />
	<style type="text/css">
	textarea {
		font-family: 'Source Code Pro', monospace;
		height: 240px !important;
		resize: none;
	}
	</style>
</head>
<body>
	<include href="block/nav.html" />
	<div class="container">

		<h1>Client-side testing</h1>

		<h2>Generate PGP Keypair</h2>
		<form class="form-inline">
			<div class="form-group">
				<label for="numBits">Key Size</label>
				<input class="form-control input-sm" name="numBits" id="numBits" style="width: 90px;" value="2048" type="number" step="1024" min="1024" max="4096" required>
			</div>
			<div class="form-group">
				<label for="userId">Identity</label>
				<input class="form-control input-sm" name="userId" id="userId" value="Test &lt;test@example.org&gt;" type="text" required>
			</div>
			<div class="form-group">
				<label for="passphrase">Passphrase</label>
				<input class="form-control input-sm" name="passphrase" id="passphrase" value="" type="password" required>
			</div>
			<button class="btn btn-primary btn-sm" type="submit">Generate</button>
		</form>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<textarea class="form-control input-sm" id="key-public" placeholder="Public Key"></textarea>
			</div>
			<div class="col-sm-6">
				<textarea class="form-control input-sm" id="key-private" placeholder="Private Key"></textarea>
			</div>
		</div>

		<h2>Encrypt/Decrypt Messages <small>Using <abbr title="Pretty Good Privacy">PGP</abbr></small></h2>
		<div class="row">
			<div class="col-sm-6">
				<textarea class="form-control input-sm" id="msg-in" placholder="Input"></textarea>
			</div>
			<div class="col-sm-6">
				<textarea class="form-control input-sm" id="msg-out" placeholder="Output" readonly></textarea>
			</div>
		</div>
		<button class="btn btn-primary btn-sm" type="button" id="btn-encrypt">Sign &amp; Encrypt</button>
		<button class="btn btn-default btn-sm" type="button" id="btn-decrypt">Decrypt &amp; Verify</button>
		&ensp;These actions will use the keys above the message.

		<h2>Symmetric Key Encryption <small>Using <abbr title="Stanford Javascript Crypto Library">SJCL</abbr></small></h2>
		<form>
			<div class="row">
				<div class="col-xs-6">
					<label for="symKey">Encryption Key</label>
				</div>
				<div class="col-xs-6 text-right">
					<button class="btn btn-primary btn-sm" type="button" id="btn-symKey">Generate</button>
				</div>
			</div>
			<br>
			<textarea class="form-control input-sm" name="symKey" id="symKey"></textarea>
		</form>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<textarea class="form-control input-sm" id="msg-sym-in"></textarea>
				</div>
				<button class="btn btn-primary btn-sm" type="button" id="btn-sym-encrypt">Encrypt</button>
				<button class="btn btn-default btn-sm" type="button" id="btn-sym-decrypt">Decrypt</button>
			</div>
			<div class="col-sm-6">
				<textarea class="form-control input-sm" id="msg-sym-out" placeholder="Output" readonly></textarea>
			</div>
		</div>

		<h2>Image loading and processing</h2>
		<form class="form-inline">
			<div class="form-group">
				<label for="image">Image</label>
				<input class="form-control input-sm" type="file" accept="image/*" name="image" id="image">
			</div>
			<button class="btn btn-primary btn-sm" type="button" id="btn-image-run">Load and Render</button>
		</form>
		<div class="row" id="image-result">

		</div>

		<br><br>
	</div>

	<include href="block/scripts.html" />
	<script>
	$(document).ready(function() {

		// Generate key
		$('.form-inline').submit(function(e) {
			$('#key-public, #key-private').val("Generating key...");
			var options = {
				numBits: parseInt($('#numBits').val()),
				userId: $('#userId').val(),
				passphrase: $('#passphrase').val(),
			};
			openpgp.key.generate(options).then(function(data) {
				$('#key-public').val(data.toPublic().armor());
				$('#key-private').val(data.armor());
			}).catch(function(err) {
				$('#key-public,#key-private').val(err);
			});
			e.preventDefault();
		});

		// Encrypt message
		$('#btn-encrypt').click(function(e) {
			$('#msg-out').val("Encrypting...");
			var msg = $('#msg-in').val();
			var publicKey = openpgp.key.readArmored($('#key-public').val());
			var privateKey = openpgp.key.readArmored($('#key-private').val()).keys[0];
			privateKey.decrypt($('#passphrase').val());

			openpgp.signAndEncryptMessage(publicKey.keys, privateKey, msg).then(function(data) {
				$('#msg-out').val(data);
			}).catch(function(err) {
				$('#msg-out').val(err);
			});
		});

		// Decrypt message
		$('#btn-decrypt').click(function(e) {
			$('#msg-out').val("Decrypting...");
			var msg = openpgp.message.readArmored($('#msg-in').val());
			var publicKey = openpgp.key.readArmored($('#key-public').val());
			var privateKey = openpgp.key.readArmored($('#key-private').val()).keys[0];
			privateKey.decrypt($('#passphrase').val());

			openpgp.decryptAndVerifyMessage(privateKey, publicKey.keys, msg).then(function(data) {
				var verifyResult = '';
				if(data.signatures[0].valid) {
					verifyResult = '[Message Verified]';
				} else {
					verifyResult = '[Message Verification Failed!]';
				}
				$('#msg-out').val(data.text + '\n' + verifyResult);
			}).catch(function(err) {
				$('#msg-out').val(err);
			});
		});

		// Generate a symetrical encryption key
		$('#btn-symKey').click(function(e) {
			var bytes = openpgp.crypto.random.getRandomBytes(2048);
			// var hash = openpgp.crypto.hash.digest(openpgp.enums.hash.sha256, bytes);
			// var key = btoa(hash).substr(0, 24);
			var key = btoa(bytes);
			$('#symKey').val(key);
		});

		// Symmetrically encrypt message
		$('#btn-sym-encrypt').click(function(e) {
			var result = sjcl.encrypt($('#symKey').val(), $('#msg-sym-in').val());
			console.log(result);
			$('#msg-sym-out').val(btoa(result));
		});

		// Decrypt symmetrically encrypted message
		$('#btn-sym-decrypt').click(function(e) {
			var result = sjcl.decrypt($('#symKey').val(), atob($('#msg-sym-in').val()));
			$('#msg-sym-out').val(result);
		});

		// Show image preview and thumbnail after selecting an image
		/**
		 * @see http://davidwalsh.name/resize-image-canvas
		 */
		$('#btn-image-run').click(function(e) {
			var files = document.getElementById('image').files;
			$('#image-result').empty();

			for (var i = 0; files.length > i; i++) {
				App.file.toURL(files[i], function(url) {
					$('#image-result').append('Image:<br>');
					$('<img />').addClass('img-responsive').attr('src', url).appendTo('#image-result');

					var img = App.img.fromURL(url),
						thm = App.img.square(img, 128, 'string');
					$('#image-result').append('Thumbnail:<br>');
					$('<img />').attr('src', thm).appendTo('#image-result');
				});
			}
		});

	});
	</script>
</body>
</html>
